.appHeaderContainer {
    max-height: 370px;
    color: $c-text;
    background: #118648;
    justify-content: space-between;
    box-shadow: 0px 0px 5px ​$c-text;
    margin: 0px !important;
    .divLogo{
        margin: 0px 0px 0px 30px;
    }
    .logo-header{
        img{
            height: 65px;
            width: 100%;
        }
    }
    li{
        width: unset;
    }
    li:hover{
        background-color: $c-background-head-hover;
        a:hover{
            color: white;
        }
    }
    a {
        color: white;
        text-transform: uppercase;
    }
    .user-icon{
        float: right;
        margin-right: 20px;
    }
    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 10px;
        width: 130px;
        margin: 0px!important;
    }
    .iconForEachRole{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 10px;
        width: 230px;
        margin: 0px!important;
    }
    .badgeFly{
        position: absolute;
        right: 260px;
    }
  
}
