@import '../../../Styles/variables';
.customerForm_container{
    $indexs : (1,2,3,4,5,6,7,8,9,10,11,12);
    @each $index in $indexs{
        .col-#{$index}{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    padding: 0px;
    margin-left: 10px;
    div{
        h5{
            p{
                margin-top: 10px;
            }
        }  
    }
    .print{
        display: none;
    }
}
.historyCm{
    margin-top: 10px;
}

.gender{
position: relative;
top: 5px;    
  }
  .customer-phone{
     position: relative;
     top: 5px;
  }
.customer-birthday{
    max-height: 35px;
}
.get-age{
    background-color: $c-secondary;
    font-size: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-top: 7px;
    height: 85%;
}