<div id="login">
  <div class="background"></div>
  <div class="container" (keyup.enter)="login()">
    <h1>
      <span
        [ngClass]="{ shadow: typeLogin === 'login' }"
        (click)="selectLogin('login')"
        >Login</span
      >
      <b>/</b>
      <span
        [ngClass]="{ shadow: typeLogin === 'register' }"
        (click)="selectLogin('register')"
        >Register</span
      >
    </h1>
    <div class="form">
      <div class="username">
        <label for="">Username *:</label>
        <input type="text" [(ngModel)]="user.username" />
        <!-- <div class="validate-input">message</div> -->
      </div>
      <div class="username" *ngIf="typeLogin === 'register'">
        <label for="">Email *:</label>
        <input type="text" [(ngModel)]="user.email" />
        <!-- <div class="validate-input">Email </div> -->
      </div>
      <div class="username">
        <label for="">Password *:</label>
        <input type="password" [(ngModel)]="user.password" />
        <!-- <div class="validate-input">messagePassword</div> -->
      </div>

      <div class="username" *ngIf="typeLogin === 'login'">
        <label for="">Room Name (Publish):</label>
        <input type="text" [(ngModel)]="user.roomName" />
        <!-- <div class="validate-input">Email </div> -->
      </div>

      <div class="username" *ngIf="typeLogin === 'login'">
        <label for="">Or Create Room (Publish):</label>
        <input type="text" [(ngModel)]="user.createRoomName" />
        <!-- <div class="validate-input">Email </div> -->
      </div>
      <div class="username" *ngIf="typeLogin === 'register'">
        <label for="">Avatar :</label>
        <input
          type="file"
          class="username-avatar"
          (change)="onFileSelected($event)"
        />
        <!-- <div class="validate-input">Email </div> -->
        <button class="username-button">Select Image</button>

        <div class="avatar-img">
          <img [src]="avatar" alt="Avatar">
        </div>
      </div>
    </div>
    <div class="submit">
      <button (click)="login()">Confirm</button>
      <p class="message_error">{{ message_error }}</p>
    </div>
  </div>
</div>
