<div class="form-container">
  <div class="form-group">
    <label htmlFor="exampleFormControlInput1">Name</label>
    <input
      name="firstName"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
</div>
<div class="confirm">
  <button type="button" class="btn btn-primary" (click)="editUser()">
    Edit
  </button>
  <button type="button" class="btn btn-warning" (click)="canelAddUser()">
    Canel
  </button>
</div>
