@import '../AddUpdateUser/EditUser.scss';
@import "../../../../../../Styles/variables";


.Main{
    .search-user{    
        display: flex;
        margin: 10px 0px;
        .search{
            margin-left: auto;
        }    
    }
}