.ant-form-item-row {
  justify-content: space-between;
  position: relative;
}

.ant-form-item-label {
  text-align: left !important;
  overflow: visible !important;
}

.ant-form-item-required::before {
  position: absolute;
  left: -8px;
}

.ant-form-item-control {
  max-width: 300px;
}
.ant-form-item-control-input-content {
  /* position: absolute; */
  display: flex;
  gap: 30px;
}
