.intergration {
    width: 1100px;
    height: 459px;
    display: flex;
    margin: 160px auto 0;
    gap: 0 60px;

    &-brand {
        display: flex;
        flex-wrap: wrap;
        gap: 85px;
        align-items: center;
        max-width: 480px;

        img {
            width: 25%;
            height: 25%;
        }
        flex: 1;
    }

    &-content {
        width: 100%;
        max-width: 688px;
        flex: 1;
        &-caption {
            position: relative;
            &::before{
                content: "";
                width: 80px;
                height: 1px;
                background-color: #525596;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            padding-left: 100px;
        }

        &-heading {
            margin-bottom: 30px;
            line-height: 160%;
        }

        &-text {
            margin-bottom: 44px;
            line-height: 180%;
        }

        a {}
    }
}