.printXrayResult{ 
    padding-left: 5px;
    width: 21cm;
    position: absolute;
    .cusInfo{
        margin: 0px;
    }
    .description{
        margin-left: 20px;
        margin-right: 20px;
    }
}
.imageXray{
position: absolute;
opacity: 0.1;
margin-top: 100px;
margin-left: 100px;
background-repeat: no-repeat;
background-size: cover;
}
.imageXrayReprint{
    position: absolute;
    opacity: 0.1;
    margin-top: -100px; 
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}