#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .body {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vela-body-bg);
    padding: 20px 50px;

    .menus {
      ul {
        list-style-type: none;

        li {
          display: inline-block;

          a {
            display: inline-block;
            margin: 0 10px;
          }
        }
      }
    }

    .btn-burger {
      display: none;
    }
  }

  .menu {

    &-list {
      display: flex;
      list-style-type: none;

      a {
        background-color: var(--vela-parag-purple);
        color: var(--velasubmenu-bgcolor);
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 15px;
        margin: 0 0 0 10px;
        cursor: pointer;
      }
    }

  }
}

@media screen and (max-width: 1024px) {
  #header {
    .body {
      .profile {
        p {
          display: none;
          cursor: pointer;
        }
      }

      .btn-burger {
        display: inline-flex;
      }
    }
  }
}

.ant-drawer-left {
  &.menu-drawer {
    .ant-drawer-header {
      border: none;

      .ant-drawer-header-title {
        flex-direction: row-reverse;

        .ant-drawer-close {
          margin: 0;
        }

        .ant-drawer-title {
          font-family: RedHatBold;
          font-size: 20px;
        }
      }
    }

    .ant-drawer-body {
      #menu-mobile {
        .body {
          .item {
            p {
              color: var(--vela-text-color-primary);
              margin: 0 0 15px 0;
            }

            .ant-collapse {
              &-item {
                border: none;

                .ant-collapse-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: row-reverse;
                  padding: 0;

                  &+div {
                    display: inline-flex;

                    .ant-collapse-arrow {
                      display: inline-flex;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}