.patientList {
  max-height: 100vh;
  width: 100%;
  .actived{
    background-color: hsl($c-hue, $c-sat, 80);
  }
  .notiResult {
    background-color: $c-table-row-selected;
  }
  .inactive{
    display: none;
  }
  .five-days{
    color: white;
    background-color: green;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }
}
