@import "./colors.scss";
#news-story {
  .news-story-title {
    font-size: 38px;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 70px;
  }
  .post-item {
    cursor: pointer;
    .post-detail {
      margin-left: 15px;
      .post-title {
        font-size: 20px;
        font-weight: 700;
        color: $text-post;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $primary-color;
        }
      }
      .post-content {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 20px;
        color: $text-light;
        font-weight: 400;
      }
      .post-source {
        font-size: 12px;
        font-weight: 700;
        color: $text-post;
        display: flex;
        align-items: center;
        text-transform: lowercase;
        &::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          background: $primary-color;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }
  .customer-story-slider {
    margin-top: 100px;
    margin-bottom: 50px;
    .story-dots {
      bottom: -90px;
      li {
        width: 45px;
        button {
          transition: all 0.3s ease-in-out;
          width: 15px;
          height: 15px;
          &:before {
            transition: all 0.3s ease-in-out;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: transparent;
            background-color: #dde0e4;
            opacity: 1;
          }
        }
      }
      .slick-active {
        button {
          width: 45px;
          &:before {
            width: 45px;
            background: $primary-color;
            border-radius: 20px;
            color: transparent;
          }
        }
      }
    }

    .customer-comment {
      font-size: 32px;
      color: $text-color;
      &::before {
        content: url("../svg/icon-quote.svg");
        display: block;
      }
    }
    .customer-name {
      font-size: 24px;
      color: $primary-color;
      font-weight: 700;
    }
    .customer-company {
      font-size: 24px;
      color: $text-color;
      font-weight: 700;
    }
    .slide-right {
      margin-left: 20px;
    }
    .customer-logo {
      margin-left: 100px;
    }
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  #news-story {
    .news-story-title {
      font-size: 32px;
    }
  }
}
@media (max-width: 768px) {
  #news-story {
    .news-story-title {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 640px) {
  #news-story {
    .post-item {
      .post-detail {
        margin-left: 5px;
        .post-title {
          font-size: 18px;
        }
        .post-content {
          max-height: 80px;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .post-item {
    img {
      display: block;
      width: 100px;
      height: 80px;
      border-radius: 10px;
    }
  }
}
