<div id="home">
  <div class="background"></div>
  <div class="container">
    <div class="background-avatar">
      <img
        src="https://i.pinimg.com/736x/6e/af/1a/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
        alt=""
      />
    </div>
    <header class="header">
      <div class="icon" (click)="backToSelectRoom()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-left-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
          />
        </svg>
      </div>
      <div class="header-main">
        <div class="header-main-avatar">
          <img
            src="https://i.pinimg.com/736x/6e/af/1a/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
            alt=""
          />
          <div class="header-main-avatar-online"></div>
        </div>
        <div class="header-main-infor">
          <div class="header-main-name">
            Room : <b> {{ roomchat?.room_name }} </b>
          </div>
          <div class="header-main-nick name">
            Your Name: <b class="name"> {{ user?.user_name }} </b>
          </div>
        </div>
      </div>
      <div class="header-contact">
        <div class="icon" (click)="logoutToLogin()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-escape"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"
            />
            <path
              d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"
            />
          </svg>
        </div>
      </div>
    </header>
    <main class="body-chat-box" >
      <!--  appScroll (scroll)="onScroll($event)" -->
      <ul
        class="main-chat"
        #chatContainer
        appScroll
        (scroll)="onScroll($event)"
      >
        <li
          class="main-liter"
          *ngFor="let message of allMessagesInRoom"
          [class.reverse]="message.user_name === user?.user_name"
        >
          <div>
            <img
              src="https://i.pinimg.com/736x/6e/af/1a/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
              alt=""
            />
          </div>
          <div class="content-chat">
            <div
              class="content-edit"
              *ngIf="message.user_name === user?.user_name"
            >
              <button (click)="deleteMessageUserInRoomApi(message)">
                Delete
              </button>
              <button (click)="openEditMessage(message.message_id)">Edit</button>
            </div>
            <div class="content-chat-user">
              <p class="content-name">
                {{ message.user_name }}
                <span>{{ message.message_sent_at }}</span>
              </p>
              <p class="content-message">{{ message.message_content }}</p>
              <div class="content-chat-user-edit"   *ngIf="stateOpenEditMessage === message.message_id">
                <textarea
                placeholder="..."
                rows="3"
                [(ngModel)]="message.message_content"
                (keyup.enter)="editMessageUserInRoom(message)"
                (blur)="onInputBlurEditText(message.message_content)"
                ></textarea>
              <button (click)="editMessageUserInRoom(message)">ok</button>
            </div>
            </div>
          </div>
        </li>
      </ul>
    </main>
    <footer class="footer">
      <div class="text-chat">
        <textarea
          placeholder="..."
          rows="3"
          [(ngModel)]="messageContent"
          (keyup.enter)="postMessageInRoom()"
        ></textarea>
        <div class="box">
          <!-- <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-emoji-smile-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"
              />
            </svg>
          </div> -->
          <!-- <div class="emoji"> -->
          <!-- <EmoJiPicker
                @emoji_click="getEmojiPicker"
                @closeDialogEmojiPicker="closeDialogEmojiPicker"
              /> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="icon" (click)="postMessageInRoom()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-send-check-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
          />
          <path
            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"
          />
        </svg>
      </div>
    </footer>
  </div>
</div>
