.siderbar {
  &-search {
    margin-bottom: 50px;
    &-list {
      flex-flow: row wrap;
      &-item {
        position: relative;
        padding-bottom: 30px;
      }
    }
    .search-group {
      max-width: 600px;
      box-shadow: 0 0 3px var(--vela-notfound-txtcolor);
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      display: table;
      border-collapse: separate;
      &__input {
        height: 48px;
        border: 0;
        padding: 9px 50px 9px 20px;
        color: var(--vela-text-color-secondary);
        position: relative;
        z-index: 2;
        float: left;
        margin-bottom: 0;
      }
      &-addon {
        font-weight: 400;
        line-height: 1;
        color: var(--vela-text-color-primary);
        text-align: center;
        background-color: var(--vela-body-bg);
        border: var(--vela-border-main);
        border-radius: 3px;
        &__btn {
          transition: all 0.35s ease;
          width: 50px;
          border: 0;
          position: absolute;
          right: 0;
          top: 8px;
          padding: 0;
          border-radius: 0;
          line-height: 32px;
          border-left: 1px solid var(--btn-searchproduct-bordercolor);
          z-index: 3;
          font-size: 18px;
          color: var(--vela-text-color-secondary);
          background-color: transparent;
          &:hover {
            opacity: 0.6;
          }
          &:focus {
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
          }
        }
        & img {
          display: inline-block;
          width: 20px;
          height: auto;
          top: -2px;
        }
      }
    }
  }
  &__title {
    font-family: var(--vela-font-family-secondary);
    font-size: calc(var(--vela-font-size) + 2px);
    line-height: calc(var(--vela-font-size) + 6px);
    margin: 0 0 15px;
    padding: 50px 0 10px;
    position: relative;
    color: var(--vela-text-color-secondary);
    font-weight: 700;
    border-top: var(--vela-border-main);
  }
  &-content {
    margin-bottom: 50px;
    &-item {
      &__list {
        padding: 5px 0;
        color: var(--vela-text-color-secondary);
        font-weight: 600;
        font-size: calc(var(--vela-font-size) + 2px);
        &:hover {
          cursor: pointer;
          color: var(--vela-color-primary);
        }
      }
      &__time {
        display: block;
        color: var(--vela-text-color-banner);
        line-height: 18px;
        padding-bottom: 8px;
        font-size: calc(var(--vela-font-size) - 1px);
        font-family: var(--vela-font-family-secondary);
      }
    }
    &-category {
      list-style: inside;
      &__item {
        color: var(--vela-text-color-primary);
        font-size: var(--vela-font-size);
        transition: all 0.35s ease;
        padding: 5px 0;
        line-height: 26px;
        &:hover {
          color: var(--vela-color-primary);
          cursor: pointer;
        }
      }
    }
    &-tag {
      margin: 0 -4px;
      padding: 15px 0;
      font-size: 0;
      &__item {
        display: inline-block;
        padding: 0 4px;
        & span {
          display: block;
          margin-bottom: 8px;
          padding: 4px 10px;
          color: var(--vela-text-color-primary);
          font-size: var(--vela-font-size);
          text-decoration: none;
          background-color: #f5f5f5;
          border-radius: 3px;
          transition: all 0.35s ease;
          &:hover {
            cursor: pointer;
            color: var(--vela-body-bg);
            background-color: var(--vela-color-primary);
            border-color: var(--vela-color-primary);
          }
        }
      }
    }
  }
  &-banner {
    &__img {
      display: block;
      overflow: hidden;
      position: relative;
      &:hover {
        &::after {
          opacity: 1;
          transform: scale(1);
          cursor: pointer;
        }
        &::before {
          opacity: 1;
          transform: scale(1);
          cursor: pointer;
        }
      }
      &::before {
        border: 1px solid var(--vela-body-bg);
        bottom: 20px;
        content: "";
        left: 20px;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        position: absolute;
        right: 20px;
        top: 20px;
        -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        z-index: 1;
      }
      &::after {
        bottom: 20px;
        content: "";
        left: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-box-shadow: 0 0 0 20px rgb(0 0 0 / 20%);
        box-shadow: 0 0 0 20px #0003;
        background-color: #0000000d;
        -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        z-index: 1;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .siderbar {
    &-banner {
      display: none;
    }
  }
}
