.ResultExam{
    .table-result {
    border-top: 2px solid  #28b76b;
}  
.colorResultValueRed{
color: red;
}
.colorResultValueBlue{
    color: blue;
    }
    
}
.printResults{
    .bodyTable{
        tr td{
            padding:2px 10px;
        }
    
    }
}
