.EndoscopicResult{
    .result-Ent-Description{
        // max-height: 175px ;
        // min-height: 175px;
        height: 200px;
        width: 100%;
        border: 1px solid #dee2e6;
    }
    .result-Ent{
        // max-height: 75px ;
        // min-height: 75px;
        height: 120px;
        width: 100%;
        border: 1px solid #dee2e6;
    }    
    .inputSelectImg{
        height: 200px;
        // background-color: gray;
        .resultFile{
            height: 140px;
            width: 175px;
        }
    }
    .input-fromService{
        width: 250px;
    }
}