.AccountingPrintingPreview {
    .receiptFromPrint{
        width: 713px;
        height: 520px;
        padding: 20px;
    }
    h5{
        margin: 0px;
    }
}
.AccountingPrintingPreview .absolute {
    position: absolute;
    right: 45px;
}
.AccountingPrintingPreview .logo {
   display: flex;
    .image {
        width: 80px;
        height: 60px;
    }

    .address {
        width: 350px;
        margin: 0px;
    }
    // .nameHospital{
    //     width: 250px;
    //     height: 20px;
    // }
}
.examRxamination-modal .modal-content {
    width: 830px;
    margin: auto;
}
.sizeDiv{
    width: 794px;
}

.nt{
  position: absolute;
  left: 5rem;  
}
.tt{
 position: absolute;
 right: 5rem
}

.make-bill{
    position: relative;
    right: 40rem
}
.mr-33{
    margin-left: -1rem;
}