$primary-color: #1e1e1e;
$white-color: #ffffff;
/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #262626;
    padding: 100px 0 0 0;
}

.newslatter-form {
	margin-bottom: 90px;
	form {
		position: relative;
		input {
			width: 100%;
			border: 2px solid #454747;
			border-radius: 50px;
			height: 53px;
			background: transparent;
			color: #535353;
			font-size: 14px;
			font-style: italic;
			font-weight: 600;
			padding-left: 30px;
			position: relative;
		}
		button {
			width: 310px;
			height: 53px;
			background: #B0BCC2;
			border: 2px solid #B0BCC2;
			color: $white-color;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			border-radius: 50px;
			position: absolute;
			right: 0;
		}
	}
}

.footer-widget {
	margin-bottom: 40px;
	.single-footer-widget {
		margin-bottom: 30px;
		h4 {
			color: $white-color;
			font-size: 26px;
			margin-bottom: 44px;
		}
		ul {
			padding-left: 0px;
			li {
				color: $white-color;
				font-size: 14px;
				font-weight: 500;
				list-style: none;
				line-height: 36px;
				opacity: .5;
			}
		}
	}
}

.social-links-warp {
	background: #222121;
	padding: 46px 0;
    text-align: center;
}

.social-links {
	a {
		margin-right: 88px;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
		.fa {
			font-size: 30px;
			color: #d7d7d7;
			float: left;
			margin-right: 19px;
			overflow: hidden;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		span {
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			color: #9f9fa0;
			padding-top: 10px;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		&.instagram {
			&:hover {
				.fa {
					color: #962b87;
				}
			}
		}
		&.facebook {
			&:hover {
				.fa {
					color: #39599F;
				}
			}
		}
		&.youtube {
			&:hover {
				.fa {
					color: #D12227;
				}
			}
		}
		&:hover {
			span {
				color: #fff;
			}
		}
	}
}
