@import "../../../../Styles/variables";

.loginCard {
    width: 510px;
    height: 300px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 320px;
    border: $border;
    border-radius: $border-radius;
    box-shadow: 3px 3px 5px #c3c3c3;
    h2 {
        margin: 0 0 30px 0;
        text-align: center;
    }
}

.password {
    -webkit-text-security : disc;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

