<div id="login">
  <div class="background"></div>
  <div class="container">
    <h1>Login</h1>
    <div class="form">
      <div class="username">
        <label for="">Username:</label>
        <input type="text"   />
        <div class="validate-input"> message </div>
      </div>
      <div class="password">
        <label for="">Password:</label>
        <input type="password" v-model="password" />
        <div class="validate-input">
          messagePassword 
        </div>
      </div>
    </div>
    <div class="submit">
      <button (click)="login()" >Submit</button>
    </div>
  </div>
</div>
