.introduce {
    margin-top: 160px;

    &-header {
        &-heading {
            color: #2F327D;
            text-align: center;
            font-family: 'Poppins';

            font-weight: 700;
            font-size: 36px;
            line-height: 180%;

            span {
                color: #F48C06;
                text-align: center;
                font-family: 'Poppins';

                font-weight: 700;
                font-size: 36px;
                line-height: 180%;
            }
        }

        &-text {
            text-align: center;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 24px;
            line-height: 180%;
            width: 837px;
            color: #696984;
            margin: 0 auto;
        }
    }

    &-list {
        display: flex;
        margin-top: 160px;
        gap: 0 60px;
        justify-content: center;

        &-item {
            width: 450px;
            height: 430px;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
            border-radius: 20px;

            &-icon {
                width: 100px;
                height: 100px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);


                img {}
            }

            &-title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 45px;
                text-align: center;
                width: 343px;
                color: #2F327D;
                display: block;
                margin:  122px auto 0;
                align-items: center;


            }
            &-desc{
                // margin-top: 42px;
                width: 341px;
                color: #696984;
                text-align: center;
                font-size: 20px;
                line-height: 36px;
                display: block;
                margin: 42px auto 0;

            }
        }

    }
}