 .youcan {
     margin: 160px auto 0;
     width: 1547px;
     height: 512px;
     display: flex;
     gap: 0 67px;
     align-items: center;
     justify-content: center;

     &-content {
         &-heading {
             font-family: 'Poppins';
             font-style: normal;
             font-weight: 500;
             font-size: 36px;
             line-height: 160%;
             color: #2F327D;
             width: 655px;

             span {
                 font-family: 'Poppins';
                 font-style: normal;
                 font-weight: 500;
                 font-size: 36px;
                 line-height: 160%;
                 color: #F48C06;
             }
         }

         &-desc {
             width: 730px;
             height: 172px;
             font-family: 'Poppins';
             font-style: normal;
             font-weight: 400;
             font-size: 24px;
             line-height: 180%;
             letter-spacing: 0.02em;
             color: #696984;
         }

         a {}
     }

     &-image {
         width: 705px;
         position: relative;

         img {}

         &-play {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);

             img {}
         }
     }
 }