.serviceList{
    .serviceListTable{
        display: block;
        empty-cells: show;
        border-spacing: 0;
        border: $border;
        thead::-webkit-scrollbar-thumb {
            border-radius: $border-radius;
        }
        thead::-webkit-scrollbar {
            width: 5px;
        }
        thead {
            position: relative;
            display: block;
        // overflow-y: scroll;
        }
        tbody {
            position: relative;
            display: block;
            width: 100%;
        // overflow-y: scroll; 
        }
        td {
            line-height: 25px;
            font-size: 13px;
            border: $border;
            flex-basis: 100%;
            flex-grow: 2;
            display: block;
            padding-bottom: -30px;
        }
        td:first-child{
            flex-basis: 30%;
        }
        th:first-child{
            flex-basis: 30%;
        }
        th {
            font-size: 13px;
            border: $border;
            flex-basis: 100%;    
            flex-grow: 2;
            display: block;
            text-align: center;
        }  
        th:last-child{
            flex-basis: 60%;
        }
        td:last-child{
            flex-basis: 60%;
        }
        th.price{
            flex-basis: 60%;
        }
        td.price{
            flex-basis: 60%;
        }
        tr {
            width: 100%;
            display: flex;   
        }
        .bodyTable {
        // max-height: 300px;
        // min-height: 300px;
        text-align: center;
        }
        tbody::-webkit-scrollbar-thumb {
            background: rgb(167, 161, 161);
            border-radius: 5px;
        }
        tbody::-webkit-scrollbar {
            width: 5px;
        }
    }
}
.addControl{
    margin-right: 15px;
    float: right;
    button{
        width: 120px;
    }
}
.Service {
    .checkbox-location{
        button {
            background-color: #6c757d;
            margin: 5px ;
        }
        button.btn.btn-secondary.active {
            background-color: $c-secondary;
        }
    }
}
.paddingBtn{
    padding: 5px 20px;
}
.service-form{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 3px 6px 6px;
    padding: 50px;
    
}
.material_form{
    // margin-top:50px;
    // width: 100%;
    // height: auto;
    // padding:50px 50px 10px 50px;
    // background-color: white;
    // box-shadow: 3px 6px 6px;
    position: relative;
    .material_container{
        max-height: 200px;
        padding-top: 20px;
        overflow-y: auto;
    }
}
.add_material{
    position: absolute;
    right:330px;
    bottom:15px
}