.carousel {
  .ant-carousel {
    .carousel-item {
      padding: 200px 0;
      background-image: url(../../assets//images/slide/slide_2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .body {
        min-width: 85%;
        width: 85%;
        margin: 0 auto;

        h5 {
          font-size: 22px;
          margin: 0 0 20px 0;

          span {
            color: var(--vela-color-primary);
          }
        }

        h2 {
          font-size: 58px;
          font-family: RedHatBold;
          margin: 0 0 40px 0;
        }

        .btn-shop {
          border: none;
          transition: all 0.35s ease;
          border-color: var(--vela-header-textcolor);
          background-color: var(--vela-header-textcolor);
          color: var(--vela-body-bg);
          padding: 14px 30px;
          border-radius: 5px;
          min-width: 200px;
          display: inline-flex;
          align-items: center;

          span {
            letter-spacing: 1px;
            font-family: RedHatBold;
            display: inline-flex;

            &:first-child {
              margin: 0 10px 0 0;
            }
          }

          &:hover {
            background: var(--btnpro_bordercolor_hover);
            border-color: var(--btnpro_bordercolor_hover);
          }
        }
      }
    }

    .slick-dots {
      align-items: center;
      bottom: 30px !important;

      li {
        width: 10px;
        height: 10px;
        margin: 0 10px;

        button {
          background: var(--vela-color-primary);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          opacity: 1;

          &:visited {
            outline: none;
          }
        }

        &.slick-active {
          border: 2px solid var(--vela-color-primary);
          border-radius: 50%;
          display: inline-flex;
          width: 12px;
          height: 12px;

          button {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.btn-slide {
  border: none;
  background: var(--vela-body-bg);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  transition: all 0.35s ease;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      height: auto;
    }
  }
}

@media screen and (max-width: 800px) {
  .carousel {
    .ant-carousel {
      .carousel-item {
        .body {
          h2 {
            font-size: 50px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .carousel {
    .ant-carousel {
      .carousel-item {
        padding-top: 150px;
        .body {
          h2 {
            font-size: 45px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .carousel {
    .ant-carousel {
      .carousel-item {
        .body {
          h2 {
            font-size: 38px;
          }
        }
      }
    }
  }
}
