.PreExaminationShared{
    p{
        margin: 0 0 5px 0;
    }
    table{
        tbody{
            td{
                text-align: left;
                padding: 0 0 5px 0;
                border: none;
                p{
                    margin: 0px;                   
                }
                input{
                    width: 60px;
                }
            }
        }
       
        

    }
   
}