.PrintPreHis {
    > * {
        font-size: 13px;
        padding: 0;
        margin: 0;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    .HeaderPrint {
        padding-left: 0;
        margin-left: 0;
        line-height: 1.8;
        font-size: 11.5px;
    }
    .header-print {
        padding-left: 0;
        margin-left: 0;
        div {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .print-title {
        font-weight: bold;
        font-size: 37px;
    }
    .info-cus {
        display: flex;
        font-size: 17px;
        // align-items: center;
    }
    .print-w-50 {
        width: 50%;
    }
    .print-w-60 {
        width: 70%;
    }
    .print-w-40 {
        width: 40%;
    }
    .print-mw-30 {
        min-width: 30%;
    }
    .item-product {
        padding: 0;
        margin: 0;
        font-size: 20px;
        .title-product {
            padding-bottom: 1;
            margin-bottom: 1;
        }
    }
    .title-order {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    .order-product {
        min-height: 90mm;
        font-size: 14px;
    }
    .phone-print {
        width: 30%;
    }
    .address-print {
        width: 65%;
        font-size: 17px;
    }
    .gender-print {
        width: 20%;
    }
    .birthday-print {
        width: 20%;
    }
    .name-print {
        width: 56%;
        padding: 5px 0;
    }
    #PrintEtc {
        height: 209mm;
    }
    .notice{
        position: absolute;
        top: 1750px;
    }
    .signature{
        position: absolute;
        top: 1700px;
        right: 80px;
    }
}