html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.7467957003em 0.8851619247em 7px rgba(0, 114, 255, 0.9),
    1.4344939954em 0.7742926006em 7px rgba(255, 0, 59, 0.9),
    1.9428852652em 2.3090545376em 7px rgba(255, 0, 152, 0.9),
    0.8158339765em 0.9885319163em 7px rgba(255, 176, 0, 0.9),
    -0.0826818021em 2.1392782477em 7px rgba(0, 255, 45, 0.9),
    1.0378861113em 0.3878839893em 7px rgba(0, 255, 125, 0.9),
    2.0365375196em -0.2956866129em 7px rgba(96, 255, 0, 0.9),
    1.0074636329em 0.7481615609em 7px rgba(255, 0, 251, 0.9),
    1.9731560119em 1.121085844em 7px rgba(255, 99, 0, 0.9),
    -0.1557776923em 1.1364631146em 7px rgba(227, 0, 255, 0.9),
    0.7588197669em 0.4812374978em 7px rgba(26, 255, 0, 0.9),
    0.4256197108em 1.0696114096em 7px rgba(0, 255, 126, 0.9),
    1.6232689693em 1.976849096em 7px rgba(255, 0, 6, 0.9),
    1.7041362155em 1.7339764802em 7px rgba(0, 255, 3, 0.9),
    0.6625686405em -0.2166463675em 7px rgba(255, 145, 0, 0.9),
    2.3449071462em 1.3092091464em 7px rgba(255, 140, 0, 0.9),
    -0.4735782524em 1.2053726375em 7px rgba(0, 255, 169, 0.9),
    2.3979380458em 1.2244823283em 7px rgba(255, 0, 61, 0.9),
    -0.3426950859em 0.195848977em 7px rgba(0, 230, 255, 0.9),
    2.4042030394em 2.2859892673em 7px rgba(159, 0, 255, 0.9),
    0.8525329915em 1.8218468802em 7px rgba(61, 0, 255, 0.9),
    0.2160429878em 2.1303191467em 7px rgba(255, 239, 0, 0.9),
    0.8167935794em 1.319160628em 7px rgba(0, 255, 1, 0.9),
    -0.342560137em 2.3216050829em 7px rgba(0, 204, 255, 0.9),
    0.2255830541em 0.9667634192em 7px rgba(0, 149, 255, 0.9),
    0.5836341469em 0.2525153951em 7px rgba(31, 0, 255, 0.9),
    0.3672106199em -0.2207602455em 7px rgba(133, 0, 255, 0.9),
    -0.2390129249em 2.3111822214em 7px rgba(60, 0, 255, 0.9),
    2.2381279579em 0.7495232408em 7px rgba(255, 244, 0, 0.9),
    2.4565624271em 2.4622524348em 7px rgba(255, 0, 141, 0.9),
    1.9743735459em 0.2921709736em 7px rgba(0, 255, 250, 0.9),
    -0.1556400781em 0.3310131348em 7px rgba(33, 255, 0, 0.9),
    0.3261018905em 1.1588445366em 7px rgba(255, 0, 108, 0.9),
    0.0235315442em -0.3088819445em 7px rgba(205, 0, 255, 0.9),
    -0.3740124092em 0.1725918045em 7px rgba(0, 255, 174, 0.9),
    -0.3625799706em 1.7317766357em 7px rgba(255, 177, 0, 0.9),
    2.3515931301em 0.1921793827em 7px rgba(221, 0, 255, 0.9),
    0.1959037109em 0.9530411572em 7px rgba(255, 0, 154, 0.9),
    1.7845809597em 0.402551322em 7px rgba(211, 0, 255, 0.9),
    0.1825591551em 1.7720950406em 7px rgba(255, 199, 0, 0.9),
    1.7431469111em -0.4008982463em 7px rgba(255, 0, 78, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: -0.0067989283em 0.9681470443em 7px rgba(255, 0, 57, 0.9),
    0.6754283675em 1.4669351128em 7px rgba(88, 255, 0, 0.9),
    0.4634100319em 0.9925521926em 7px rgba(255, 217, 0, 0.9),
    0.8607944907em -0.3387318734em 7px rgba(221, 0, 255, 0.9),
    2.2237271658em -0.1489280841em 7px rgba(0, 255, 190, 0.9),
    0.3387844032em 2.1275204978em 7px rgba(255, 184, 0, 0.9),
    1.3395188032em 2.2299424709em 7px rgba(86, 255, 0, 0.9),
    0.9083413493em 1.1303928057em 7px rgba(55, 255, 0, 0.9),
    0.9224375761em 1.6505964439em 7px rgba(134, 0, 255, 0.9),
    0.1587488558em 0.5366210808em 7px rgba(51, 255, 0, 0.9),
    0.5529277734em 1.1448398587em 7px rgba(0, 255, 170, 0.9),
    1.9309511897em 0.9632454251em 7px rgba(0, 255, 95, 0.9),
    1.2453879897em 1.9357663068em 7px rgba(146, 0, 255, 0.9),
    -0.4504724616em 1.9383186426em 7px rgba(163, 0, 255, 0.9),
    0.0859164503em 1.8397857672em 7px rgba(255, 0, 88, 0.9),
    -0.0083703561em 1.1856640607em 7px rgba(255, 0, 82, 0.9),
    1.7794387625em 1.7476144644em 7px rgba(170, 0, 255, 0.9),
    -0.4848950594em 2.0180449719em 7px rgba(0, 255, 198, 0.9),
    2.2341141541em 0.2332661026em 7px rgba(0, 54, 255, 0.9),
    1.013054532em 2.0067485424em 7px rgba(255, 145, 0, 0.9),
    0.9969035491em 1.2742136502em 7px rgba(205, 255, 0, 0.9),
    1.5113284786em 1.1757809254em 7px rgba(0, 156, 255, 0.9),
    2.1703729597em 1.1430894128em 7px rgba(255, 51, 0, 0.9),
    1.4023546525em 1.9286338323em 7px rgba(0, 255, 173, 0.9),
    0.15420492em 2.3013944625em 7px rgba(255, 0, 130, 0.9),
    1.4179731556em 0.5002372665em 7px rgba(255, 117, 0, 0.9),
    1.7129275717em 0.8116433928em 7px rgba(0, 255, 224, 0.9),
    0.3484168163em 1.8219325383em 7px rgba(0, 255, 158, 0.9),
    1.290368864em 1.6580665025em 7px rgba(204, 0, 255, 0.9),
    -0.3769100329em 1.8582074857em 7px rgba(35, 255, 0, 0.9),
    0.6961106812em 0.2161670017em 7px rgba(255, 39, 0, 0.9),
    0.3880360083em 1.8059103402em 7px rgba(0, 255, 251, 0.9),
    0.4320779872em 1.0030318581em 7px rgba(0, 251, 255, 0.9),
    0.7589103293em 0.8620534986em 7px rgba(173, 255, 0, 0.9),
    2.2357182425em 0.3330027771em 7px rgba(32, 255, 0, 0.9),
    1.4390142072em 1.6153725115em 7px rgba(0, 208, 255, 0.9),
    2.1531241476em -0.2228872374em 7px rgba(255, 2, 0, 0.9),
    -0.4670667352em 1.1593337865em 7px rgba(255, 0, 210, 0.9),
    1.345659422em 1.8434966295em 7px rgba(255, 116, 0, 0.9),
    1.2077518476em 1.4098809215em 7px rgba(255, 187, 0, 0.9),
    0.5310411149em -0.373755482em 7px rgba(0, 203, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.4952531069em 2.2940392718em 7px rgba(255, 0, 247, 0.9),
    1.0397949456em 0.5973993657em 7px rgba(0, 255, 226, 0.9),
    1.5881067206em 1.6949891259em 7px rgba(255, 178, 0, 0.9),
    2.0631931371em 0.7702014451em 7px rgba(255, 0, 16, 0.9),
    0.4496560397em 0.631940055em 7px rgba(255, 185, 0, 0.9),
    0.9446395708em 0.1430822582em 7px rgba(255, 0, 200, 0.9),
    0.9878383594em 2.0975064605em 7px rgba(255, 0, 204, 0.9),
    1.4536211438em 0.0283634678em 7px rgba(0, 255, 65, 0.9),
    -0.0871706856em 0.8413373922em 7px rgba(0, 255, 70, 0.9),
    1.6140254687em -0.1615167423em 7px rgba(137, 0, 255, 0.9),
    0.7803123075em 0.7140310266em 7px rgba(0, 255, 242, 0.9),
    2.1012469926em 0.7455512729em 7px rgba(255, 85, 0, 0.9),
    0.8828128829em 2.2633242284em 7px rgba(255, 29, 0, 0.9),
    1.2440511526em 1.4280716915em 7px rgba(0, 255, 53, 0.9),
    1.7515142787em 1.4742754262em 7px rgba(255, 0, 20, 0.9),
    1.9991949222em 1.0299286854em 7px rgba(233, 0, 255, 0.9),
    -0.3151162757em 0.5884667074em 7px rgba(0, 147, 255, 0.9),
    2.2514426022em 2.0649645211em 7px rgba(255, 0, 126, 0.9),
    1.3329954172em 2.1146043524em 7px rgba(127, 0, 255, 0.9),
    2.1810029207em 0.5896366943em 7px rgba(255, 134, 0, 0.9),
    1.2369244824em 1.2382531477em 7px rgba(193, 0, 255, 0.9),
    -0.2207325876em 0.5772847634em 7px rgba(255, 185, 0, 0.9),
    0.2037853504em -0.4418936435em 7px rgba(255, 0, 72, 0.9),
    -0.2908038253em 1.2970848616em 7px rgba(255, 234, 0, 0.9),
    1.4814336626em 0.2322658381em 7px rgba(255, 0, 70, 0.9),
    0.6632767893em 2.2119741813em 7px rgba(255, 0, 5, 0.9),
    -0.2943028075em 1.9763080747em 7px rgba(0, 255, 84, 0.9),
    1.9995525108em -0.028220313em 7px rgba(0, 97, 255, 0.9),
    2.3109945179em 0.4111886813em 7px rgba(0, 255, 116, 0.9),
    -0.1821817485em 0.3343508984em 7px rgba(0, 255, 102, 0.9),
    1.7540797756em 1.224785998em 7px rgba(255, 29, 0, 0.9),
    1.2739032515em 1.8340834369em 7px rgba(250, 255, 0, 0.9),
    0.0856468223em 1.9008318748em 7px rgba(0, 255, 145, 0.9),
    2.4168691696em 2.1492058516em 7px rgba(255, 0, 205, 0.9),
    2.2723386853em -0.2548310228em 7px rgba(2, 0, 255, 0.9),
    0.7543635961em 2.4148889389em 7px rgba(0, 255, 197, 0.9),
    -0.299366966em -0.173519199em 7px rgba(255, 178, 0, 0.9),
    2.1300314308em -0.1347092802em 7px rgba(102, 0, 255, 0.9),
    -0.1854631628em 1.1447116769em 7px rgba(255, 255, 0, 0.9),
    1.9923767257em 0.7841875231em 7px rgba(154, 255, 0, 0.9),
    0.1391494432em 0.7012392593em 7px rgba(0, 34, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.1523357475em 1.6038499731em 7px rgba(83, 0, 255, 0.9),
    0.0933397623em 0.2676599488em 7px rgba(255, 224, 0, 0.9),
    1.8425450219em 0.6895216206em 7px rgba(38, 255, 0, 0.9),
    2.2150105715em 1.4460796332em 7px rgba(255, 0, 94, 0.9),
    1.1846110289em 1.4240124912em 7px rgba(173, 255, 0, 0.9),
    1.1805763511em 2.0723837941em 7px rgba(0, 17, 255, 0.9),
    2.2206116605em -0.2020032388em 7px rgba(255, 0, 80, 0.9),
    0.1093277376em 1.5926639267em 7px rgba(0, 255, 59, 0.9),
    2.3353234925em 0.5157854451em 7px rgba(255, 115, 0, 0.9),
    0.1317294017em -0.0175045512em 7px rgba(255, 0, 23, 0.9),
    -0.1729604691em -0.1586209607em 7px rgba(208, 255, 0, 0.9),
    2.0633091774em 0.7099346729em 7px rgba(255, 0, 251, 0.9),
    1.9609479307em 1.3818169786em 7px rgba(3, 255, 0, 0.9),
    0.2029296675em 1.2271805952em 7px rgba(0, 202, 255, 0.9),
    1.0431215504em 0.0685790423em 7px rgba(162, 255, 0, 0.9),
    -0.1396863181em 1.7632579436em 7px rgba(255, 0, 67, 0.9),
    1.5445608886em 2.1238586379em 7px rgba(255, 22, 0, 0.9),
    0.7774409148em 1.6568714995em 7px rgba(255, 0, 3, 0.9),
    2.1502197907em 0.5331355112em 7px rgba(255, 0, 92, 0.9),
    0.7209486076em -0.3165796077em 7px rgba(255, 0, 83, 0.9),
    1.2894219379em 0.4452166176em 7px rgba(173, 255, 0, 0.9),
    2.1436447631em 1.341660238em 7px rgba(194, 0, 255, 0.9),
    1.6212646559em 0.34304162em 7px rgba(134, 255, 0, 0.9),
    1.6511315611em 1.3931507442em 7px rgba(255, 43, 0, 0.9),
    1.4940518321em -0.2878180452em 7px rgba(225, 0, 255, 0.9),
    1.2236308995em -0.1191901967em 7px rgba(120, 255, 0, 0.9),
    0.1057308878em 1.993084186em 7px rgba(0, 122, 255, 0.9),
    0.4893610793em 2.4590792339em 7px rgba(182, 255, 0, 0.9),
    2.1093391471em -0.0402143681em 7px rgba(255, 103, 0, 0.9),
    0.3704292125em 1.7352646222em 7px rgba(89, 0, 255, 0.9),
    0.1348385316em 0.1684317752em 7px rgba(72, 0, 255, 0.9),
    0.1964962624em 1.2608051685em 7px rgba(255, 0, 13, 0.9),
    0.3534929053em 1.0645966016em 7px rgba(0, 251, 255, 0.9),
    1.5108665338em 1.5718166257em 7px rgba(255, 98, 0, 0.9),
    -0.0861828869em 0.0199516259em 7px rgba(0, 125, 255, 0.9),
    -0.0053568207em 1.8923753925em 7px rgba(255, 0, 64, 0.9),
    -0.0530770579em -0.4011105815em 7px rgba(0, 255, 198, 0.9),
    -0.2177402728em 0.8969653011em 7px rgba(0, 98, 255, 0.9),
    -0.2546991195em 0.7213846095em 7px rgba(0, 255, 140, 0.9),
    0.3082179732em 0.5000628788em 7px rgba(62, 255, 0, 0.9),
    1.3295467547em 2.2353604728em 7px rgba(0, 255, 52, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

html::before {
  content: "tuan demo";
  letter-spacing: 0.5em;
  text-shadow: 0 0 5px #000;
  white-space: pre;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

html:first-line {
  font-size: 300%;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
