.XrayResult{
    .result-Xray{
        max-height: 250px;
        height: 250px;
        width: 100%;
        border: 1px solid #dee2e6;
    }
    .result-Xray-Description{
        max-height: 355px;
        height: 320px;
        width: 100%;
        border: 1px solid #dee2e6;
    }
    // .input-fromService{
    //     width: 450px;
    // }
    height: 51vh;
    
}