$c-text: #3c3c3c;
$c-text-head: #fafafa;

$c-link: #30336b;
$c-link-hover: #3498db;

$c-border: #30336b;
$c-background: #ecf0f1;

$c-background-card: #ffffff;

$c-background-head: #30336b;
$c-background-head-hover: #cfd8dc;

$c-main-color: #e8e8e8; // màu chủ đạo toàn bộ hệ thống
$border-radius: 3px;
$border: 1px solid #343a40;
